<?xml version="1.0" encoding="UTF-8"?>

<!-- Author: Jan David Kleiß -->

<nifty>
  <useStyles filename="nifty-default-styles.xml" />
  <useStyles filename="Interface/Styles/textfield.xml" />
  <useStyles filename="Interface/Styles/radiobutton.xml" />
  <useStyles filename="Interface/Styles/slider.xml" />
  <useStyles filename="Interface/Styles/fonts.xml" />
  <useControls filename="nifty-default-controls.xml" /> 
 
  <screen id="Settings" controller="dronewars.input.SettingsController">
    <layer id="layer" backgroundColor="#E3DBC9" childLayout="center">
        <panel childLayout="horizontal">
          
          <panel childLayout="vertical">
            
            <panel childLayout="horizontal" margin="20,0">
              <control name="checkbox" id="fullscreen" margin="0,20" />
              <control name="label" text="Fullscreen" color="#303039" />
            </panel>

            <panel childLayout="horizontal" margin="20,0">
              <control name="checkbox" id="fxaa" margin="0,20" />
              <control name="label" text="Anti Aliasing" color="#303039" />
            </panel>

            <panel childLayout="horizontal" margin="20,0">
              <control name="checkbox" id="lod" margin="0,20" />
              <control name="label" text="Level of Detail" color="#303039" />
            </panel>

            <panel childLayout="horizontal" margin="20,0">
              <control name="checkbox" id="dof" margin="0,20" />
              <control name="label" text="Depth of Field" color="#303039" />
            </panel>

            <panel childLayout="horizontal" margin="20,0">
              <control name="checkbox" id="bloom" margin="0,20" />
              <control name="label" text="Bloom" color="#303039" />
            </panel>

            <panel childLayout="horizontal" margin="20,0">
              <control name="checkbox" id="sunrays" margin="0,20" />
              <control name="label" text="Sunrays" color="#303039" />
            </panel>
          </panel>
            
        </panel>
    </layer>
  </screen>
</nifty>